MONGO_URI=mongodb://localhost:27017/fitness-app
JWT_SECRET=sMSJzCODg5Olig7pt/uoViDLT9cmS+wNL0BghFygSrPFvkRxwAeTfIpRK7uE5XProingDuGnsizNSyYn0luOfw==
PORT=4000
CLIENT_URL=http://localhost:3000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=leonelngueaho@gmail.com
SMTP_PASS=jxtk ufwl fnxi xqwu 

DEFAULT_ADMIN_EMAIL=leonel@admin
DEFAULT_ADMIN_PASSWORD=leonel@admin


